.container{ 
    width: 100%;
    background-color: black;
}

.side-bar{ 
    width: 20%;
    position: fixed;
    left: 0px;
    top: 0px;
    border-right: 1px solid gray;
    background-color: black;
}

.r-side-bar{ 
    width: 20%;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color:#1e1e1e;
    height: 100vh;
    border-left: 1px solid gray;
    background-color: black;
}
.main{ 
    position: fixed;
    width: 60%;
    left: 20%;
    top: 0px;
    border-bottom: 1px solid gray;
    background-color: black;
}


.posts{ 
    width: 100%;
    border-bottom: 1px solid gray;
}